test.Web/Service References/PassportService/PassportService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCredenceByToken">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="token" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCredenceByTokenResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetCredenceByTokenResult" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ClearPCert">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="token" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ClearPCertResponse">
        <s:complexType />
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="GetCredenceByTokenSoapIn">
    <wsdl:part name="parameters" element="tns:GetCredenceByToken" />
  </wsdl:message>
  <wsdl:message name="GetCredenceByTokenSoapOut">
    <wsdl:part name="parameters" element="tns:GetCredenceByTokenResponse" />
  </wsdl:message>
  <wsdl:message name="ClearPCertSoapIn">
    <wsdl:part name="parameters" element="tns:ClearPCert" />
  </wsdl:message>
  <wsdl:message name="ClearPCertSoapOut">
    <wsdl:part name="parameters" element="tns:ClearPCertResponse" />
  </wsdl:message>
  <wsdl:portType name="PassportServiceSoap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetCredenceByToken">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">根据令牌获取主站凭证</wsdl:documentation>
      <wsdl:input message="tns:GetCredenceByTokenSoapIn" />
      <wsdl:output message="tns:GetCredenceByTokenSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ClearPCert">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">清除主站凭证</wsdl:documentation>
      <wsdl:input message="tns:ClearPCertSoapIn" />
      <wsdl:output message="tns:ClearPCertSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="PassportServiceSoap" type="tns:PassportServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCredenceByToken">
      <soap:operation soapAction="http://tempuri.org/GetCredenceByToken" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ClearPCert">
      <soap:operation soapAction="http://tempuri.org/ClearPCert" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="PassportServiceSoap12" type="tns:PassportServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCredenceByToken">
      <soap12:operation soapAction="http://tempuri.org/GetCredenceByToken" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ClearPCert">
      <soap12:operation soapAction="http://tempuri.org/ClearPCert" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PassportService">
    <wsdl:port name="PassportServiceSoap" binding="tns:PassportServiceSoap">
      <soap:address location="http://localhost:8007/PassportService.asmx" />
    </wsdl:port>
    <wsdl:port name="PassportServiceSoap12" binding="tns:PassportServiceSoap12">
      <soap12:address location="http://localhost:8007/PassportService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>